

<div class="master-form">
    <%= button_to "Add Project", addP_path, remote: true, class: "mf-btn" %>
    <%= button_to "Add Tag", addT_path, remote: true, class: "mf-btn" %>
    <%= button_to "Edit Project", editP_path, remote: true, class: "mf-btn" %>
    <%= button_to "Edit Tag", editT_path, remote: true, class: "mf-btn" %>

    <div class="mf-area">

    </div>
</div>
