.login-area {
  display: block;
  width: 100%;
  text-align: center;

  .l-section {
    display: inline-block;
    width: 400px;
    text-align: left;

    .page-header {
      border: none;
      margin-bottom: 0;
    }

    .l-hr {
      border: solid 1px #29B55C;
      margin-top: 0;
    }
  }
}

.user-area {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #333333;
  color: white;

  h1 {
    margin-left: 20px;
  }

  .bubbles-view-area {
    padding: 50px;
    background-color: #F7F7F9;
    text-align: center;

    .bubble-box {
      display: inline-block;
      width: 300px;
      height: 300px;
      background-color: #F7F7F9;
      border: solid 1px #DDDDDD;
      border-radius: 10px;
      position: relative;

      .buzz-bubble {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        font-size: 20px;
        position: absolute;
        right: 75px;
        top: 75px;
        background-color: #428BCA;
        border: solid 10px #3277b3;
        box-shadow: 0px 3px 5px #333333;
        color: white;
        font-family: 'Roboto', sans-serif;

        h1 {
          font-weight: 500;
          font-size: 24px;
          margin-top: 25px;
          margin-right: 30px;
        }
      }

      .bub-edit {
        position: absolute;
        bottom: 10px;
        left: 10px;
      }
    }
  }
  .add-bub {
    padding: 50px;
    background-color: #F7F7F9;
    text-align: center;
  }

  .text-content-1 {
    padding: 50px;
    background-color: #F7F7F9;
    text-align: center;
    color: #333333;

    h1 {
      text-align: left;
    }

    .about-box {
      display: inline-block;
      width: 80%;
      margin-top: 15px;
      border: solid 2px #DDDDDD;
      border-radius: 10px;
      text-align: left;
      font-family: "Roboto", sans-serif;

      .save-status {
        display: inline-block;
        width: 50%;
        text-align: left;
        padding: 15px;
        padding-left: 25px;
        h3 {
          display: inline-block;
          margin-right: 15px;
          font-family: "Roboto", sans-serif;
        }
      }

      .about-form {
        padding: 15px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;

        label {
          font-weight: 400;
          font-size: 18px;
        }
        .form-control {
          margin-bottom: 15px;
          font-family: "Roboto", sans-serif;
          font-weight: 300;
        }

        #text_content_text {
          height: 300px !important;
        }
      }
    }
  }

  .project-section {
    background-color: #F7F7F9;
    padding: 20px;
    text-align: center;
    color: #333333;

    .project-form {
      display: inline-block;
      width: 60%;
      border: solid 1px #DDDDDD;
      border-radius: 10px;
      padding: 20px;

      .p-form {
        display: inline-block;
        width: 90%;

        .p-field {
          width: 100%;
        }
      }
    }
  }
}

.master-form {
  width: 60%;
  display: inline-block;
  border: solid 1px #dddddd;
  border-radius: 5px;
  padding: 15px;

  .form-link {
    width: 100%;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    border: solid 1px #333333;
    border-radius: 15px;
    background-color: #dddddd;
  }

  .button_to {
    display: inline-block;
  }

  .mf-btn {
    display: inline-block;

  }

  .mf-status-area {
    width: 100%;
    padding: 15px;

    h3 {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
    }

    .mf-check {
      color: #29B55C;
    }
  }
}
