<div class="project-form">
  <%= form_for(@project_load, remote: true) do |f| %>
      <%= f.text_field :name, placeholder: "Project name", class: "form-control" %>
      <%= f.text_area :content, placeholder: "Project Description", rows: 15, class: "form-control" %>
    <div class="project-button">
      <%= f.submit "Post", class: "btn btn-primary "%>
    </div>
  <% end %>
</div>
