

<div class="master-form">
    <%= button_to "Add Project", addP_path, remote: true, class: "mf-btn" %>
    <%= button_to "Add Tag", addT_path, remote: true, class: "mf-btn" %>
    <%= button_to "Edit Project", editP_path, remote: true, class: "mf-btn" %>
    <%= button_to "Edit Tag", editT_path, remote: true, class: "mf-btn" %>

    <div class="mf-area">
    </div>

    <div class="mf-status-area">
        <h3><strong>Status:</strong></h3>
        <h3 class="mf-status">Nothing to report</h3>
        <div class="status-link"></div>
    </div>
</div>
