<div class="user-area">
  <h1>User Info</h1>


  <div class="text-content-1">
      <h1>About Section</h1>
      <%= render template: "text_content/about_box", locals: {text: @about_text} %>
  </div>

  <div class="project-section">
      <h1>Projects/Tags Section</h1>
      <%= render partial: "user_forms/master_form" %>
  </div>


</div>
